@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?2fhxvn');
	src:url('fonts/icomoon.eot?#iefix2fhxvn') format('embedded-opentype'),
		url('fonts/icomoon.woff?2fhxvn') format('woff'),
		url('fonts/icomoon.ttf?2fhxvn') format('truetype'),
		url('fonts/icomoon.svg?2fhxvn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ehris-selfservice:before {
	content: "\e602";
}
.icon-ehris-reports:before {
	content: "\e608";
}
.icon-ehris-interface:before {
	content: "\e609";
}
.icon-ehris-timekeeping:before {
	content: "\e600";
}
.icon-ehris-payroll:before {
	content: "\e603";
}
.icon-ehris-leave:before {
	content: "\e604";
}
.icon-ehris-hr-functions:before {
	content: "\e605";
}
.icon-ehris-employee:before {
	content: "\e606";
}
.icon-ehris-admin:before {
	content: "\e607";
}
.icon-arrow-right:before {
	content: "\e601";
}
